<header> Tiny App </header>
<% if (user) { %>
  <p> <%= user.email %></p>
  <form method = "POST" action = "/logout">
    <button type = "submit"> LOGOUT </button>
  </form>
<% } else { %>
  <a href = "/urls/register">REGISTER</a>
  <a href = "/login">LOGIN</a>
<% } %>
