<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
<p>Sorry, you did not create this shortened version of this URL, so you cannot access it!</p>
</body>
</html>
