<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>

  <% if (errorMessages) { %>
    <p> <%= errorMessages %> </p>
  <% } %>
</body>
</html>
