<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
    <% include partials/_header.ejs %>
    <table>
      <tr></tr>
        <th>FULL URL</th>
        <th>SHORTENED URL</th>
      <tr></tr>
        <td><%= urls.b2xVn2 %></td>
        <td>b2xVn2</td>
      <tr></tr>
        <td><%= urls.gsm5xK %></td>
        <td>gsm5xK</td>
    </table>

    <a href = ""></a>

</body>
</html>
