<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header.ejs %>
    <table>
      <tr>
        <th>FULL URL</th>
        <th>SHORTENED URL</th></tr>
        <% for (let key in urls) { %>
          <tr>
            <td> <%= urls[key].long %> </td>
            <td> <%= key %> </td>
            <td><a href = "/urls/<%= key %>">EDIT</a></td>
            <td>
              <form method="POST" action="/urls/<%= key %>/delete">
                <button type = "submit">DELETE</button>
              </form>
            </td>
          </tr>
        <% } %>
    </table>
    <a href = "/urls/new">CLICK TO GET YOUR SHORTENED URL TODAY</a>
</body>
</html>
