<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Tiny App</title>
</head>
  <body>
    <% include partials/_header.ejs %>
    <form method="POST" action="/urls/<%= shortURL %>">
      <h2>ShortURL: <%= shortURL %></h2>
      <input type = "text" style = " width: 200px" name = "inputURL" placeholder= " <%= urls[shortURL].long %> ">
      <button type = "submit">UPDATE</button>
    </form>
  </body>
</html>
